body {
    margin: 0;
    overflow: hidden;
    background-color: #F9EBB2; /* Jaune pâle */
}

.field {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.poppy {
    position: absolute;
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, #FF6347, #FF4500); /* Dégradé de rouge */
    border-radius: 50%;
    cursor: pointer;
}
